.information__wrapper {
  display: flex;
  justify-content: center;

  & h2 {
    width: 10rem;
  }

  & .template__wrapper {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;

    & .template--diffuclty {
      display: flex;

      & span {
        color: black;
        font-weight: var(--boldWeight);
        text-transform: uppercase;
        font-size: var(--averageSize);
        margin-left: 3rem;
        margin-right: 5px;
      }

      & .diffuclty {
        background-color: #c4c4c4;
        width: 1rem;
        height: 2rem;
        border-radius: 25px;
        margin-left: 3px;
      }

      & .diffuclty--active {
        background-color: var(--backgroundColorBlue);
      }
    }

    & .information-template--workout {
      background-color: var(--backgroundColorBlue);
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      padding-top: 2px;
      border-radius: 50%;
      margin-left: 1.5rem;
      margin-top: 5px;
      cursor: pointer;
    }
  }
}

.information-js {
  color: white;
  display: flex;
  justify-content: center;
  background-color: var(--backgroundColorBlue);
  align-self: center;
  border-radius: 10px;
  font-size: var(--smallerSize);
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.exercises {

  & .excersise-list {

    & .exersise {
      display: flex;
      justify-content: center;
      color: black;
      border-bottom: 1px solid #c1bfbf;
      padding: 1rem;
      margin: 3rem;

      & .exercise-img {
        margin-right: 3rem;
      }

      & .exercise-amount {
        margin-left: 7rem;
      }
    }
  }
}

.button-submit {
  display: flex;
  justify-content: center;
}

.personal {
  color: black;
  font-weight: var(--boldWeight);
  text-transform: uppercase;
  font-size: var(--averageSize);
  display: flex;
  justify-content: center;
  margin-left: 1.9rem;
  margin-right: 1rem;

  & .personal__numbers {
    text-transform: capitalize;
    color: var(--backgroundColorBlue);
  }

  & .personal__days {
    display: flex;
    width: 16.9rem;

    & .days {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
  }
}

.time {
  color: black;
  font-weight: var(--boldWeight);
  text-transform: uppercase;
  font-size: var(--averageSize);
  display: flex;
  justify-content: center;
  margin-top: -2rem;

  & .personal__time {
    text-transform: capitalize;
    color: var(--backgroundColorBlue);
  }
}

.extended__information {
  color: var(--greyColor);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;;

  & .exit {
    color: var(--backgroundColorBlue);
    font-size: 8rem;
    transform: rotate(45deg);
    margin-top: -4rem;
  }

  & .excersices-left {
    margin-right: 25rem;
  }
}

.excerscie-img {
  margin-top: 4rem;

}

.excersice-name {
  color: black;
  font-style: normal;
  font-weight: normal;
  margin-top: 4rem;
}

.excersice-todo {
  font-style: normal;
  font-weight: normal;
  margin-top: 8rem;
  color: var(--backgroundColorBlue);
}
