.planning {
  background-color: white;
}

.planning__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planning__emptystate {
  color: var(--noteColor);
  font-size: var(--smallerSize);
  margin: 0 auto;
}

.plan {
  border-radius: 1.8rem;
  padding: 3rem;
  margin: 0 auto;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
}

.personal__plans {
  width: 100%;
}

.plan--personal {
  width: 90%;
  background-image: url(../assets/img/Rectangle7.png);
}

.plan--template {
  width: 95%;
  background-image: url(../assets/img/Rectangle7.png);
}
