.planning {
  background-color: white;
}

.planning__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planning__emptystate {
  color: var(--noteColor);
  font-size: var(--smallerSize);
  margin: 0 auto;
}

.templateplan__plan {
  width: 95%;
  border-radius: 1.8rem;
  padding: 3rem;
  margin: 0 auto;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  background-image: url(../assets/img/Rectangle7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
