.planning {
  background-color: white;
}

.planning__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planning__emptystate {
  color: var(--noteColor);
  font-size: var(--smallerSize);
  margin: 0 auto;
}

.plan {
  border-radius: 1.8rem;
  padding: 3rem;
  margin: 0 auto;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 62.1rem;
  display: flex;
  flex-direction: column;
}

.personal__plans {
  width: 100%;
}

.personalplan__wrapper {
  display: flex;
  align-items: center;

  margin-top: .5rem;
}

.plan--personal {
  width: 90%;
  background-image: url(../assets/img/Rectangle7.png);
}

.personalplan__name {
  margin-bottom: 1rem;
}

.personalplan__text {
  text-transform: none;
  margin-left: .9rem;
  font-weight: var(--thinWeight);
}

.personalplan__edit {
  margin-left: auto;
  transition: transform .3s;
}

.personalplan__edit--button {
  border: none;
  background: none;
  cursor: pointer;
}

.personalplan__edit:hover {
  transform: scale(1.2);
}

.plan--template {
  width: 95%;
  background-image: url(../assets/img/Rectangle7.png);
}
