.planner__title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.exercises__wrapper {
  display: flex;

  & .not__doing {
    display: flex;
    flex-flow: column wrap;
    width: 15rem;
    justify-content: center;
    align-content: center;

    & span {
      font-size: var(--smallerSize);
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    & label {
      text-transform: uppercase;
      font-size: var(--smallerSize);
      border: 1px solid #313131;
      background-color: #313131;
      width: 15rem;
      padding: 6px;
      display: flex;
      justify-content: center;
      margin: 6px;
      border-radius: 17rem;
      font-weight: 500;
      color: white;
      cursor: pointer;
    }

    & .checkbox__button {
      display: none;
      visibility: hidden;
      position: absolute;

      &:checked + label {
        background-color: #92befb;
        border: 1px solid #92befb;
      }
    }
  }

  & .doing__wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 15rem;
    margin-right: 4.1rem;
    justify-content: center;
    align-content: center;

    & span {
      font-size: var(--smallerSize);
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    & .doing {
      text-align: center;
      text-transform: uppercase;
      font-size: var(--smallerSize);
      background: #92befb;
      width: 15rem;
      padding: 6px;
      display: flex;
      justify-content: center;
      margin: 6px;
      margin-left: 2rem;
      border-radius: 17rem;
      font-weight: 500;
      color: white;
      cursor: pointer;
    }

    & .checkbox__button {
      display: none;
      visibility: hidden;
      position: absolute;

      &:not(:checked) + label {
        background-color: #313131;
        border: 1px solid #313131;
      }
    }
  }
}

.sporty__wrapper {

  & .difficulty {
    margin-left: 2rem;
    font-size: var(--smallerSize);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  & .radio__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 2rem;

    & .radio__button {
      text-transform: uppercase;
      font-size: var(--smallerSize);
      border: 1px solid #92befb;
      width: 20rem;
      padding: 6px;
      display: flex;
      justify-content: center;
      margin: 6px;
      background-color: white;
      margin-left: 2rem;
      border-radius: 17rem;
      font-weight: 500;
      color: #92befb;
      cursor: pointer;
    }

    & input {
      display: none;
      visibility: hidden;
      position: absolute;

      &:checked + .radio__button {
        background-color: #92befb;
        color: white;
      }
    }
  }
}
