.steps {
  display: flex;
  justify-content: center;

  & .step {
    border: 1px solid #afafaf;
    border-radius: 50%;
    width: 3.5rem;

    & .step__link {
      text-decoration: none;
      color: #afafaf;
      padding: 8px;
      display: flex;
      justify-content: center;
    }
  }

  & .step:first-child {
    margin-right: 7rem;
  }

  & .step:last-child {
    margin-left: 7rem;
  }

  & .step--active {
    border: 1px solid black;

    & .step__link--active {
      color: black;
    }
  }
}
