@media (--small-screen) {

  .header {
    width: 42rem;
  }

  .footer {
    width: 42rem;
    position: sticky;
    bottom: 0;
    z-index: 1;
  }

  .planning {
    width: 38rem;
  }

  .information-template--workout {
    width: 3rem !important;
    height: 3rem !important;
    padding-top: 6px !important;
    margin-top: -3px !important;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

@media (--big-screen) {

  .footer {
    position: relative;
  }

  .template__wrapper {
    display: flex;
    justify-content: left;
    flex-flow: wrap row;
  }

  .template {
    display: flex;
    justify-content: right;
  }
}
