@import './css/reset.css';
@import './css/vars.css';

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */